<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="./plantNew.css">
    <title>Buurtcampus webpagina</title>
</head>

<body>
    <header>
        <a class="logo" href="/"><img width="100" height="100" src="assets/Buurtcampus-logo.svg"
                alt="logo buurtcampus"></a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul>
            <li><a href="#planten" aria-label="stekjesbieb">Planten Bieb</a></li>
            <li><a href="#info" aria-label="hoe werkt het">Hoe werkt het?</a></li>
            <li><a href="/" aria-label="Verzorging">Verzorging</a></li>
            <li><a href="/aanmelden" aria-label="Upload stekje">Doneren</a></li>
        </ul>
    </header>